<div class="header">
    <div class="user-info">
      <div class="avatar"></div>
      <div class="welcome">
        <span class="title">BIENVENIDA/O</span><br />
        <span class="name">Carolina Farías</span>
      </div>
    </div>
    <div class="actions">
      <button class="notification"><span class="icon">📩</span></button>
      <button class="logout">Salir</button>
    </div>
  </div>
  
  <h2 class="title-center">¿Qué necesitas hacer hoy?</h2>
  
  <div class="grid-buttons center-four">
    <button class="btn">
     <img src="../../../assets/imagen/listacedula.png" alt="" class="icon-image" />
      
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/historiacelula.png" alt="" class="icon-image" />
     
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/abrircelula.png" alt="" class="icon-image" />
     
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/gestionarcelula.png" alt="" class="icon-image" />
     
    </button>
  </div>
  <div class="grid-buttons center-four">
    <button class="btn">
        <img src="../../../assets/imagen/gestionardoce.png" alt="" class="icon-image" />
      
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/celuladiscipulo.png" alt="" class="icon-image" />
        
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/cambiarcontraseña.png" alt="" class="icon-image" />
      
    </button>
    <button class="btn">
        <img src="../../../assets/imagen/reporteproblema.png" alt="" class="icon-image" />
      
    </button>
  </div>
  
  <footer class="footer">Soporte</footer>
  
  
