
<header class="header">
  <div class="logo">
    <img src="../assets/imagen/visionup.png" alt="">
  </div>
  <div class="header-links">
    <span class="link">Sedes</span>
    <a routerLink="/login" class="login-button">Inicio Sesión</a>
  </div>
</header>
<main class="main-content">
  <h2 class="welcome-title">BIENVENIDOS A</h2>
  <h1 class="main-title">
    <span class="highlight">All in One</span>
  </h1>
  <p class="description">
    En esta sección de nuestra página encontrarás información sobre células y la opción de registrarlas.<br>
    Si eres parte de nuestra iglesia, este es tu espacio para mantenerte conectado durante la semana.<br>
    Y si lideras una célula, también podrás gestionarla fácilmente y estar al tanto de todo lo que necesitas saber.
  </p>
</main>

<footer class="footer">
  Soporte
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
