<!-- Encabezado -->
<header class="header">
    <div class="header-left">
      <img src="../../../assets/imagen/iconoperson.png" alt="" class="user-icon" />
      <div>
        <h2>Bienvenida/o</h2>
        <h3>Carolina Farías</h3>
      </div>
    </div>
    <div class="header-right">
      <div class="notification">
        <img src="" alt="Mail Icon" />
        <span class="notification-badge">1</span>
      </div>
      <button class="logout-button">Salir</button>
    </div>
  </header>
  
  <!-- Pregunta principal -->
  <main class="main">
    <h1>¿En qué escalón trabajarás hoy?</h1>
  
    <div class="steps">
      <!-- Ganar -->
      <div class="step ganar">
        <div class="icon"><img src="../../../assets/imagen/ganar.png" alt="" /></div>
        <h2>GANAR</h2>
        <p>
          "Vosotros sois la luz del mundo; una ciudad asentada sobre un monte no se puede esconder..."
          <br />
          <strong>Mateo 5:14-15</strong>
        </p>
      </div>
  
      <!-- Consolidar -->
      <div class="step consolidar">
        <div class="icon"><img src="../../../assets/imagen/consolidar.png" alt="" /></div>
        <h2>CONSOLIDAR</h2>
        <p>
          "Cuando estaba con ellos en el mundo, yo los guardaba en tu nombre..."
          <br />
          <strong>Juan 17:3</strong>
        </p>
      </div>
  
      <!-- Discipular -->
      <div class="step discipular">
        <div class="icon"><img src="../../../assets/imagen/discipular.png" alt="" /></div>
        <h2>DISCIPULAR</h2>
        <p>
          "Por tanto, id, y haced discípulos a todas las naciones..."
          <br />
          <strong>Mateo 28:19-20</strong>
        </p>
      </div>
  
      <!-- Enviar -->
      <div class="step enviar">
        <div class="icon"><img src="../../../assets/imagen/enviar.png" alt="" /></div>
        <h2>ENVIAR</h2>
        <p>
          "Lo que has oído de mí ante muchos testigos, esto encarga a hombres fieles..."
          <br />
          <strong>2 Timoteo 2:2</strong>
        </p>
      </div>
    </div>
  </main>
  
  <!-- Footer -->
  <footer class="footer">
    <img src="../../../assets/imagen/visionup.png" alt="" />
    <p>Soporte</p>
  </footer>
  
