<header class="header">
    <div class="logo">
      <img src="../../../assets/imagen/visionup.png" alt="">
    </div>
    <div class="header-links">
      <span class="link">Sedes</span>
    </div>
  </header>
  
  <main class="login-main">
    <div class="login-card">
      <h2>ACCESO</h2>
      <form>
        <input type="email" placeholder="Correo" />
        <input type="password" placeholder="Contraseña" />
        <button type="submit" class="login-button">Iniciar Sesión</button>
      </form>
      <a href="#" class="forgot-password">¿Olvidaste tu Contraseña?</a>
    </div>
  </main>
  
  <footer class="footer">
    Soporte
  </footer>
  
